{% extends "base.html" %}
{% block content %}
<div class="container py-4">
  <h2 class="mb-4 text-center">Sign up</h2>
  <form method="POST" action="{{ url_for('signup') }}">
    <div class="mb-3">
      <label for="username" class="form-label">Your Name</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter your name" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="text" class="form-control" id="password" name="password" placeholder="Enter your password" required>
    </div>
    <button type="submit" class="btn btn-success">Sign up</button>
    <div class="mb-3">
     <div>Allready a user <a href="/signin">Sign in</a></div>
    </div>
  </form>
</div>
{% endblock %}
